{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-12 col-md-12">
			<div class="card text-center">
				<div class="card-body">
					<h5 class="card-title text-gray-800"><i class="fas fa-check"></i> Email Sent</h5>
						<p class="card-text">We've emailed you instructions for setting your password, if an account exists with the email you entered.
				    You should receive them shortly.</p>
						<p>If you don't receive an email, please make sure you've entered the address you registered with,
				    and check your spam folder.</p>
					<a href="{% url 'home' %}" class="btn btn-primary"><i class="fas fa-angle-left"></i> Timeline</a>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}
