{% extends "base.html" %}
{% block content %}
<style type="text/css">
  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .h3{
    text-align: center;
  }

  .rela-block {
    display: block;
    position: relative;
    margin: auto;
    top: ;
    left: ;
    right: ;
    bottom: ;
    border-radius:4px

  }
</style>
<div class="container">
  <div class="col-xl-12 col-lg-12 mt-4">
    <div class="card shadow">
      <!-- Card Header - Dropdown -->
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Reset Password</h6>
      </div>
      <!-- Card Body -->
      <div class="card-body">

            <div class="row justify-content-center">
              <div class="col-6">
                <form id="id_password_change_form" method="POST" >
                  {% csrf_token %}
                  <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
                  <div class="form-group">
                    <input name="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email" class="form-control" placeholder="Email Address" >
                  </div>
                    {% for field in form %}
                      {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                      {% endfor %}
                    {% endfor %}
                  <button class="btn btn-primary" type="submit">Reset my password</button>
                </form>
              </div>
            </div>


      </div>
    </div>
  </div>
</div>
{% endblock %}
