{% extends 'log_reg_base.html' %}

{% block title %}
  <title>Password Reset</title>
{% endblock %}
{% block content %}
<div class="container">

  <!-- Outer Row -->
  <div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
            <div class="col-lg-6">
              <div class="p-5">
								<p class="m-auto">Your password has been reset. You may go ahead and <a href="{% url 'login' %}">sign in</a> now.</p>

                <hr>

              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>

{% endblock %}
